body {
  background: #FF4E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-body {
  height: 12rem
}

h3 {
  color: white;
  background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5%;
}
h6 {
  color: black;
  font-weight: 700;
}
.fa-remove {
  font-size: 22px;
  background-color:#FF4E50;
  color: white;
  width: 50px;
  border-radius: 10%;
  position: relative;
  bottom: 8rem;
  height: 2rem

}

.fa-check {
  font-size: 22px;
  background-color: green;
  color: white;
  width: 70px;
  border-radius: 10%;
  position: relative;
  bottom: 8rem;
  left: 0.75rem;
  height: 2rem
}

.flex-container {
  display: flex;
  justify-content: flex-end;
}

.like , .dislike {
  font-size: 10px;
}

/* Moddal CSS */
.openModal {
  background-color: #FF4E50;
  color: #ffff;
  margin-top: 0.5rem;
}

.card {
  margin-top: 2rem;
}

.remove-button {
  width: 5rem;
  background-color: #FF4E50;
  color: #ffff;
}

.info {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}








